:root {
    --roboto-font:'Roboto Slab';
    --franklin-font:'Libre Franklin';
    --primary-color: #BEE9E8;
    --secondary-color: #62b6cb;
    --accent1-color: #1B4965;
    --accent2-color: #CAE9FF;
    --accent3-color: #5FA8D3;
}

* {
    margin: 0;
}

p {
    font-family: var(--franklin-font);
    color: var(--accent1-color);
}

h1 {
    font-family: var(--roboto-font);
    color: var(--secondary-color);
   
}

h2 {
    font-family: var(--roboto-font);
    color: var(--secondary-color);
    margin:15px 0px 15px 0px;
}

a {
   text-decoration: none; 
   font-family: var(--roboto-font);
}

.hero {
    position: relative; 
}

.hero img {
    display: block;
    width: 100%; 
    height: auto; 
}

.hero h1 {
    position: absolute; 
    top: 20%; 
    left: 35%; 
    color: var(--primary-color); 
    font-size: 45px;
}

.hero article {
    position: absolute;
    bottom: 40%;
    left: 5%; 
    background-color: var(--accent2-color);
    opacity: 0.85;
    padding: 10px;
    border-radius: 5px; 
    
}

.hero article img {
    float: right;
    width: 250px; 
    height: auto; 
}

p {
    margin: 0;
    color: var(--accent1-color);
}

section img {
    width: 45%;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 40px 0px 40px 0px;
}

.logo-container {
    text-align: center;
}

.logo-container img {
    width: 15%;
    height: auto;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

a {
    border: solid black 1px;
    padding: 10px 40px;
}

.centered-title {
    text-align: center;
    
}

.history-section {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-evenly; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    text-align: start;
    column-gap: 10px;
    margin: 10px;
}

.history-section img {
    width: 100%;
    height: auto;
    
}

.adventure-flex-gallery img {
    width: 100%;
    height: fit-content;
}

.adventure-flex-gallery {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    column-gap: 35px;
    margin: 10px;
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    flex: 1;
    text-align: center;
    margin-left: 300px;
    
}

footer a, img {
    border: 0px;
    width: 20px;
}


section {
    margin: 100px 0px 100px 0px;
}
